{% extends "base.html" %}

{% block title %}Currency Converter{% endblock title %}

{% block content %}
<h1>Currency Converter</h1>
{% if error_message %}
<div style='color: red'>
    {{ error_message }}
</div>
{% endif %}
<form method="POST">
    {% csrf_token %}
    <label for="start_curr">From</label>
    <select name="start_curr" id="start_curr" required>
        {% for currency in currencies %}
            {% if data %}
                <option value="{{ currency }}"{% if currency == data.start %}selected{% endif %}>{{ currency }}</option>
            {% else %}
                <option value="{{ currency }}"{% if currency == 'EUR' %}selected{% endif %}>{{ currency }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <label for="end_curr">To</label>
    <select name="end_curr" id="end_curr" required>
        {% for currency in currencies %}
            {% if data %}
                <option value="{{ currency }}"{% if currency == data.end %}selected{% endif %}>{{ currency }}</option>
            {% else %}
                <option value="{{ currency }}"{% if currency == 'USD' %}selected{% endif %}>{{ currency }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <label for="amount">Amount</label>
    <input type="number" name="amount" id="amount" {% if data %}value={{ data.amount }}{% endif %}>
    <input type="submit" value="Convert">
</form>
{% if conversion_result %}
    <div>
        <p>{{ data.amount }} {{ data.start }} are <span style='font-weight: bold; font-size: 1.2em; color: green'>{{ conversion_result}}</span> {{ data.end }}</p>
    </div>
{% endif %}

{% endblock content %}